.about {
  color: var(--dark-grey);
}
.about-img img {
  width: 100%;
}
.about p {
  font-size: 13px;
  line-height: 22px;
}

.history-list li {
  display: flex;
  border-radius: 2px;
  overflow: hidden;
}
.history-list li:not(:last-child) {
  margin-bottom: 15px;
}
.history-value {
  padding: 24px 25px;
  background-color: #ECEFF1;
  font-size: 14px;
  width: 100%;
}
.history-date {
  color: var(--theme-color);
  font-weight: 600;
  width: 150px;
  font-size: 26px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 226, 226);
}
.history-title {
  color: var(--dark-grey);
  font-weight: 600;
  margin-bottom: 20px;
}

.docs-list li {
  display: flex;
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: 1px dotted var(--border-grey);
}
.docs-list li:not(:last-child) {
  margin-bottom: 10px;
}
.docs-title {
  width: 30%;
  font-weight: 600;
}

@media (max-width: 800px) {
  .docs-list li {
    flex-direction: column;
    gap: 10px;
  }
  .docs-title {
    width: 100%;
  }
  .history-value {
    padding: 15px;
    width: 75%;
  }
  .history-date {
    padding: 0 15px;
    font-size: 24px;
    width: 25%;
  }
}