.contact {
    margin: 0px 0 40px;
    &-title {
        font-weight: 600;
        color: var(--dark-grey);
        font-size: 24px;
        margin-bottom: 20px;
    }
    &-wrap {
        margin-bottom: 40px;
    }
    &-l {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}