.page {
  margin: 30px 0;
}
.page-title {
  font-size: 26px;
  font-weight: 600;
  color: var(--dark-grey);
}
.page-wrap {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
.page-menu {
  width: 100%;
  max-width: 230px;
  position: relative;
}
.page-list {
  font-size: 12px;
  color: var(--dark-grey);
  font-weight: 500;
  width: 100%;
  position: sticky;
  top: 20px;
  left: 0;
}
.page-list__name {
  border-top: 1px solid var(--border-grey);
}
.page-list__name:last-child {
  border-bottom: 1px solid var(--border-grey);
}
.page-list__name a {
  color: var(--dark-grey);
  padding: 15px 20px 15px 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: background-color 0.3s ease;
}
.page-list__name a:hover {
  background-color: var(--theme-dark-color);
}
.page-list__name a:hover, .page-list__name a:hover i {
  color: #fff;
}
.page-list__name a i {
  font-size: 12px;
}
.page-list__name a.active {
  background-color: var(--theme-color);
  color: #fff;
}
.page-list__name ul {
  padding-left: 20px;
  margin-bottom: 10px;
}
.page-list__name ul a {
  color: var(--light-grey);
  padding: 5px;
  font-size: 13px;
}
.page-content {
  width: 100%;
  max-width: 724px;
}
.page-content__box {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  gap: 20px;
  width: 100%;
}
.page-item {
  padding: 15px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid var(--border-grey);
  height: auto;
  transition: all 0.3s ease;
}
.page-item:hover {
  border-color: var(--theme-color);
}
.page-item__img {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}
.page-item__name {
  font-size: 13px;
  color: var(--dark-grey);
}
.page-item__name:hover {
  color: var(--theme-color);
}
.page-catalog__text {
  font-size: 13px;
  line-height: 22px;
  color: var(--dark-grey);
  margin: 20px 0 40px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid var(--border-grey);
  color: var(--dark-grey);
  font-weight: 500;
}
.pagination li.active a {
  color: #fff;
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

@media (max-width: 500px) {
  .page-menu {
    display: none;
  }
  .page-content__box {
    grid-template-columns: repeat(2, 48%);
  }
}
@media (max-width: 450px) {
  .page-content__box {
    grid-template-columns: repeat(1, 100%);
  }
}