.geo {
    font-size: 13px;
    line-height: 18px;
    &-title {
        font-weight: 600;
        font-size: 13px;
        color: var(--dark-grey);
    }
    & ul {
        list-style-type:disc;
        padding-left: 20px;
        & li {
            line-height: 22px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &::marker {
                color: var(--dark-grey);
            }
        }
    }
}
.partner {
    font-size: 13px;
    line-height: 20px;
    color: var(--dark-grey);
    &-new {
        & h3 {
            font-weight: 600;
            font-size: 13px;
            margin-bottom: 5px;
        }
        & .m-btm {
            margin-bottom: 20px;
        }
        & ul {
            list-style-type: disc;
            padding-left: 17px;
        }
    }
}
.rule {
    &-item {
        &__title {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
    & ul {
        margin-top: 30px;
    }
    & li {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}
.d {
    &-item {
        border: 1px solid var(--border-grey);
        border-radius: 2px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
        transition: all .3s ease;
        & a {
            display: inline-block;
            & img {
                height: 50px;
                vertical-align: top;
            }
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}


@media (hover: hover) and (pointer: fine) {
    .d {
        &-item {
            &:hover {
                border: 1px solid var(--theme-color);
                color: var(--theme-color);
            }
        }
    }
}