@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

:root {
  --theme-color: #dc9c60;
  --theme-dark-color: #caab8e;
  --dark-grey: #333;
  --grey: #555;
  --dark: #1d2029;
  --dark-v2: #2f383d;
  --light-grey: #95979a;
  --border-grey: #ebe8e8;
  --footer: #282a43;
  --footer-btm: #181928;
  --btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  --dropdown-shadow: 0 6px 12px rgba(0,0,0,.175);
  --border-v2: #dadde1;
  --shadow-v-3: 0 1px 5px rgba(0, 0, 0, 0.136);
  --grey-v2: #85878b;
  --border-v3: #bbc7ce;
}

body {
  font-family: "Montserrat", sans-serif;
}

input {
  background-color: transparent;
}

button, input {
  outline: none;
  border: 0;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
}
button:active {
  box-shadow: var(--btn-active-shadow);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.box {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1008px;
  margin: 0 auto;
}

.header {
  box-shadow: var(--shadow-v-3);
  position: relative;
  z-index: 100;
}
.header-top {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-grey);
}
.header-contact {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-contact__l {
  display: flex;
  gap: 10px;
  height: 28px;
}
.header-contact__l i, .header-contact__l svg {
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-color);
}
.header-contact__l a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  border-radius: 2px;
  border: 1px solid var(--theme-color);
}
.header-contact button {
  text-transform: uppercase;
  padding: 7px 14px;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
  background-color: transparent;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}
.header-mobile {
  display: none;
}
.header-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-logo__text {
  color: var(--grey-v2);
  font-size: 13px;
  font-weight: 600;
}

.nav {
  height: 46px;
}
.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-input__box {
  display: flex;
  overflow: hidden;
}
.nav-input__item {
  display: flex;
  max-width: 0px;
  pointer-events: none;
  background-color: transparent;
  transition: all 0.2s ease;
}
.nav-input__item input {
  padding: 10px 15px;
  color: #fff;
  width: 300px;
}
.nav-input__item input::-webkit-input-placeholder {
  color: #fff;
}
.nav-input__value {
  background-color: var(--theme-dark-color);
  padding: 40px;
  width: 300px;
  display: none;
}
.nav-search {
  height: 100%;
  padding: 13px 20px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.nav-search svg {
  fill: var(--dark);
}
.nav-list {
  display: flex;
}
.nav-item {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.1s ease;
}
.nav-item__title {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-item__title svg {
  width: 10px;
  height: 10px;
}
.nav-item a {
  color: var(--dark);
  display: flex;
  width: 100%;
  height: 100%;
}
.nav .dropdown {
  position: relative;
}
.nav .dropdown-list {
  background-color: var(--theme-dark-color);
  position: absolute;
  top: 100%;
  width: auto;
  min-width: 300px;
  left: 0;
  display: none;
  box-shadow: var(--dropdown-shadow);
}
.nav .dropdown-list a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 9px 11px;
  font-size: 12px;
  font-weight: 500;
}
.nav .dropdown-list a:hover {
  background-color: var(--theme-color);
}
.nav .dropdown-list a.active {
  background-color: var(--theme-color);
}
.nav .dropdown-list li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav.active .nav-input__item {
  max-width: 500px;
  pointer-events: all;
  align-items: center;
  background-color: var(--theme-dark-color);
}
.nav.active .nav-search {
  background-color: var(--theme-color);
}
.nav.active .nav-search svg {
  fill: #fff;
}

.logo {
  font-weight: 500;
  color: var(--dark);
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  border-radius: 2px;
}

.section-title {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 2px solid var(--theme-color);
  padding-bottom: 11px;
  margin-bottom: 20px;
  line-height: 20px;
  color: var(--dark-grey);
}

.footer-top {
  padding: 40px 0 60px;
  background-color: var(--footer);
}
.footer-bottom {
  padding: 15px;
  background-color: var(--footer-btm);
  font-size: 12px;
  color: var(--light-grey);
}
.footer a {
  color: #fff;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-list li:not(:last-child) {
  margin-bottom: 7px;
}
.footer-list li a:hover {
  color: var(--theme-color);
}
.footer-contact__item {
  font-size: 15px;
}
.footer-contact__item span {
  color: #fff;
}
.footer-contact__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-contact__item a {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--grey-v2);
}
.footer-contact__item.mail {
  font-size: 11px;
}
.footer-contact__item.mail a:hover p {
  color: #fff;
}
.footer-contact__item i {
  font-size: 10px;
}

.main {
  position: relative;
  z-index: 20;
}

.arrow {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--theme-color);
  display: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 80;
}
.arrow.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow i {
  color: #fff;
  font-size: 20px;
}
.arrow:active {
  transform: scale(0.926);
}

@media (max-width: 500px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .header-top {
    display: none;
  }
  .header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header-burger {
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 120;
  }
  .header-line {
    position: relative;
  }
  .header-line::before, .header-line::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .header-line::before {
    top: -8px;
  }
  .header-line::after {
    bottom: -8px;
  }
  .header-line, .header-line::before, .header-line::after {
    width: 35px;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
  }
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
  }
  .nav-box {
    display: flex;
    width: 60%;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 100vh;
    padding: 60px 15px 40px;
    transform: translateX(120%);
  }
  .nav ul {
    flex-direction: column;
  }
  .nav-item a {
    justify-content: flex-end;
    font-weight: 600;
    height: auto;
  }
  .nav-item:focus {
    background-color: var(--theme-color);
  }
  .nav-item:focus a {
    color: #fff;
  }
  .nav-item:focus .dropdown-list {
    display: block;
  }
  .nav-item:focus .nav-item__title svg {
    fill: #fff;
  }
  .nav .dropdown-list {
    position: relative;
    top: 0%;
    min-width: 50px;
  }
  .nav .dropdown-list:hover {
    background-color: transparent;
  }
  .nav.active-mobile {
    background-color: rgba(0, 0, 0, 0.345);
    opacity: 1;
    pointer-events: all;
    z-index: 110;
  }
  .nav.active-mobile .nav-box {
    transform: translateX(0%);
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-list {
    flex-direction: column;
  }
  .arrow {
    right: 20px;
    bottom: 20px;
  }
  .main {
    margin-top: 60px;
  }
}
@media (hover: hover) and (pointer: fine) {
  button.v-1:hover {
    background-color: var(--theme-color);
    color: #fff;
  }
  .header-contact__l a:hover {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
  }
  .header-contact__l a:hover i, .header-contact__l a:hover svg {
    color: #fff;
  }
  .nav-search:hover {
    background-color: var(--theme-color);
  }
  .nav-search:hover svg {
    fill: #fff;
  }
  .nav-item:hover {
    background-color: var(--theme-color);
  }
  .nav-item:hover a {
    color: #fff;
  }
  .nav-item:hover .dropdown-list {
    display: block;
  }
  .nav-item:hover .nav-item__title svg {
    fill: #fff;
  }
  .arrow:hover {
    background-color: var(--theme-dark-color);
  }
}