@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

:root {
    --theme-color: #dc9c60;
    --theme-dark-color: #caab8e;
    --dark-grey: #333;
    --grey: #555;
    --dark: #1d2029;
    --dark-v2: #2f383d;
    --light-grey: #95979a;
    --border-grey: #ebe8e8;
    --footer: #282a43;
    --footer-btm: #181928;
    --btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --dropdown-shadow: 0 6px 12px rgba(0,0,0,.175);
    --border-v2: #dadde1;
    --shadow-v-3: 0 1px 5px rgba(0, 0, 0, 0.136);
    --grey-v2: #85878b;
    --border-v3: #bbc7ce;
}

body {
    font-family: 'Montserrat', sans-serif;
}

input {
    background-color: transparent;
}

textarea {
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

button, input {
    outline: none;
    border: 0;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    &:active {
        box-shadow: var(--btn-active-shadow);
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.box {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1008px;
    margin: 0 auto;
}

.header {
    box-shadow: var(--shadow-v-3);
    position: relative;
    z-index: 100;
    transition: all .3s ease;
    &-top {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-grey);
    }
    &-contact {
        display: flex;
        gap: 20px;
        align-items: center;
        &__l {
            display: flex;
            gap: 10px;
            height: 28px;
            & i, svg {
                font-weight: 400;
                font-size: 16px;
                color: var(--theme-color);
            }
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                border-radius: 2px;
                border: 1px solid var(--theme-color);
            }
        }
        & button {
            text-transform: uppercase;
            padding: 7px 14px;
            border: 1px solid var(--theme-color);
            color: var(--theme-color);
            background-color: transparent;
            font-size: 10px;
            line-height: 12px;
            font-weight: 600;
        }
    }
    &-mobile {
        display: none;
    }
    &-logo {
        display: flex;
        gap: 20px;
        align-items: center;
        &__text {
            color: var(--grey-v2);
            font-size: 13px;
            font-weight: 600;
        }
    }
    &-burger {
        &.active {
            & .header-line {
                background-color: transparent;
                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }
                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &.fix {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        & .nav {
            display: none;
        }
        & .header {
            &-top {
                border-bottom: none;
                height: 60px;
            }
        }
        &.time {
            top: -100px !important;
            &.stack {
                top: 0px !important;
            }
        }
    }
}

.nav {
    height: 46px;
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-input {
        position: relative;
        &__box {
            display: flex;
            overflow: hidden;
        }
        &__item  {
            display: flex;
            max-width: 0px;
            pointer-events: none;
            background-color: transparent;
            transition: all .2s ease;
            & input {
                padding: 10px 15px;
                color: #fff;
                width: 300px;
                &::-webkit-input-placeholder {
                    color: #fff;
                }
            }
        }
        &__value {
            background-color: var(--theme-dark-color);
            width: 300px;
            margin-left: auto;
            margin-right: 0;
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            max-height: 275px;
            overflow-y: auto;
            box-shadow: var(--dropdown-shadow);
            &::-webkit-scrollbar {
                width: 10px;
                background-color: var(--theme-color);
                cursor: pointer;
                &-thumb {
                    width: 6px;
                    background-color: var(--theme-dark-color);
                    border-radius: 5px;
                    border: 2px solid var(--theme-color);
                }
            }
        }
    }
    &-search {
        height: 100%;
        padding: 13px 20px;
        cursor: pointer;
        transition: background-color .1s ease;
        & svg {
            fill: var(--dark);
        }
    }
    &-list {
        display: flex;
        height: 46px;
    }
    &-item {
        padding: 15px 20px;
        cursor: pointer;
        font-size: 11px;
        height: 100%;
        transition: background-color .1s ease;
        &__title {
            display: flex;
            gap: 5px;
            align-items: center;
            text-transform: uppercase;
            font-weight: 600;
            position: relative;
            & svg {
                width: 10px;
                height: 10px;
            }
            &.active {
                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: var(--theme-color);
                    position: absolute;
                    left: -10px;
                }
            }
        }
        & a {
            color: var(--dark);
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
    & .dropdown {
        position: relative;
        &-list {
            background-color: var(--theme-dark-color);
            position: absolute;
            top: 100%;
            width: auto;
            min-width: 300px;
            left: 0;
            display: none;
            box-shadow: var(--dropdown-shadow);
            & a {
                color: #fff;
                display: block;
                width: 100%;
                padding: 9px 11px;
                font-size: 12px;
                font-weight: 500;
                &:hover {
                    background-color: var(--theme-color);
                }
                &.active {
                    background-color: var(--theme-color);
                }
            }
            & li {
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(256,256,256,0.1);
                }
            }
        }
    }
    &.active {
        & .nav {
            &-input {
                &__item {
                    max-width: 500px;
                    pointer-events: all;
                    align-items: center;
                    background-color: var(--theme-dark-color);
                }
                &__value {
                    &.active {
                        display: block;
                    }
                }
            }
            &-search {
                background-color: var(--theme-color);
                & svg {
                    fill: #fff;
                }
            }
        }
    }
    &-product {
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        padding: 5px 0;
        transition: all .3 ease;
        height: 55px;
        & a {
            color: #fff;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #ececec4a;
        }
        &:first-child {
            border-top: 1px solid #ececec4a;
        }
        &__img {
            padding-left: 20px;
            width: 30px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                max-width: 30px;
                max-height: 40px;
            }
        }
    }
    &-search {
        &:hover {
            background-color: var(--theme-color);
            & svg {
                fill: #fff;
            }
        }
    }
    &-item {
        &:hover {
            background-color: var(--theme-color);
            & .nav-item__title {
                color: #fff;
            }
            & .dropdown {
                &-list {
                    display: block;
                }
            }
            & .nav-item__title {
                & svg {
                    fill: #fff;
                }
                &::before {
                    background-color: #fff;
                }
            }
        }
    }
    &-product {
        &:hover {
            background-color: var(--theme-color);
        }
    }
}

.logo {
    font-weight: 500;
    color: var(--dark);
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid var(--border-v3);
    font-weight: 700;
    //color: #B62236;
    color: var(--theme-color);
    letter-spacing: .5px;
    border-radius: 2px;
}

.section {
    &-title {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        border-bottom: 2px solid var(--theme-color);
        padding-bottom: 11px;
        margin-bottom: 20px;
        line-height: 20px;
        color: var(--dark-grey);
    }
}

.footer {
    &-top {
        padding: 40px 0 60px;
        background-color: var(--footer);
    }
    &-bottom {
        padding: 15px;
        background-color: var(--footer-btm);
        font-size: 12px;
        color: var(--light-grey);
    }
    & a {
        color: #fff;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        width: 40%;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
        & li {
            &:not(:last-child) {
                margin-bottom: 7px;
            }
            & a {
                &:hover {
                    color: var(--theme-color);
                }
            }
        }
    }
    &-contact {
        &__item {
            font-size: 15px;
            & span {
                color: #fff;
            }
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            & a {
                display: flex;
                gap: 10px;
                align-items: center;
                color: var(--grey-v2);
            }
            &.mail {
                font-size: 11px;
                & a {  
                    &:hover {
                        & p {
                            color: #fff;
                        }
                    }
                }
            }
            & i {
                font-size: 10px;
            }
        }
    }
}

.main {
    position: relative;
    z-index: 20;
}

.arrow {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--theme-color);
    display: none;
    cursor: pointer;
    transition: background-color .3s ease, transform .2s ease-in;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 80;
    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & i {
        color: #fff;
        font-size: 20px;
    }
    &:active {
        transform: scale(0.926);
    }
}

.page {
    &-nav {
        font-size: 11px;
        margin-bottom: 10px;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        & a, span {
            display: flex;
            gap: 10px;
            color: var(--light-grey);
            align-items: center;
            cursor: pointer;
            &:not(:last-child) {
                &::after {
                    font-family: FontAwesome;
                    content: "\f054";
                    color: var(--light-grey);
                    font-size: 8px;
                }
            }
            &:last-child {
                color: var(--theme-color);
            }
            &:hover {
                color: var(--theme-color);
            }
        }
    }
}

.form {
    margin-top: 40px;
    padding-right: 50px;
    &-box {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        justify-content: space-between;
    }
    &-wrap {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &-item {
        position: relative;
        & input {
            display: block;
            background-color: #fff;
        }
        & span {
            position: absolute;
            left: 10px;
            top: 10px;
            font-size: 12px;
            pointer-events: none;
            transition: top .3s ease;
        }
        & textarea {
            resize: none;
            height: 100px;
        }
        & input, & textarea {
            width: 100%;
            border-radius: 2px;
            padding: 10px;
            font-family: "Montserrat", sans-serif;
            &:not(:placeholder-shown) {
                & + span {
                    top: -20px;
                    font-size: 10px;
                }
            }
            &:focus {
                & + span {
                    top: -20px;
                    font-size: 10px;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.427);
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 110;
    display: none;
    &-box {
        background-color: #fff;
        border-radius: 2px;
        max-width: 700px;
        min-width: 500px;
    }
    &-head {
        padding: 20px 20px;
        color: #fff;
        background-color: var(--theme-dark-color);
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-body {
        border-bottom: 1px solid var(--border-grey);
        padding: 30px 20px;
        & input {
            border: 1px solid var(--border-v3);
            &:not(:placeholder-shown) {
                & + span {
                    top: -15px;
                }
            }
        }
        & .form {
            &-item {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
                & input:focus {
                    & + span {
                        top: -15px;
                    }
                }
            }
        }
    }
    &-foot {
        padding: 10px 20px;
        display: flex;
        justify-content: flex-end;
        & button {
            background-color: var(--theme-color);
            padding: 10px 15px;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
        }
    }
    &-close {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        &::before, &::after {
            content: '';
            position: absolute;
        }
        &::before, &::after {
            background-color: #fff;
            height: 2px;
            width: 15px;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.map {
    &-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 13px;
        margin: 20px 0;
        & a {
            color: var(--dark-grey);
        }
    }
}

@media(max-width: 800px) {
    .modal {
        &-box {
            margin: 0 15px;
            min-width: 290px;
        }
    }
}

@media(max-width: 800px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        &-top {
            display: none;
        }
        &-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        &-burger {
            width: 40px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 120;
        }
        &-line {
            position: relative;
            &::before, &::after {
                content: '';
                position: absolute;
                left: 0;
            }
            &::before {
                top: -8px;
            }
            &::after {
                bottom: -8px;
            }
            &, &::before, &::after {
                width: 35px;
                height: 3px;
                border-radius: 5px;
                background-color: #000;
            }
        }
    }
    .nav {
        position: fixed;
        right: 0;
        top: 0;
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        opacity: 0;
        pointer-events: none;
        z-index: 0;
        &-list {
            height: auto;
        }
        &-box {
            display: flex;
            width: 60%;
            background-color: #fff;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            min-height: 100vh;
            padding: 60px 15px 40px;
            transform: translateX(120%);
        }
        & ul {
            flex-direction: column;
        }
        &-item {
            padding: 0;
            & a {
                justify-content: flex-end;
                font-weight: 600;
                height: auto;
            }
            &:active {
                background-color: var(--theme-color);
                & a {
                    color: #fff;
                }
                & .dropdown {
                    &-list {
                        display: block;
                    }
                }
                & .nav-item__title {
                    & svg {
                        fill: #fff;
                    }
                }
            }        
            &:hover {
                background-color: #fff;
                & a {
                    color: var(--dark-grey);
                }
                & .dropdown {
                    &-list {
                        display: block;
                        position: relative;
                        margin-bottom: 20px;
                    }
                }
                & .nav-item__title {
                    color: var(--dark-grey);
                    & svg {
                        fill: var(--dark-grey);
                    }
                    &::before {
                        background-color: var(--theme-color);
                    }
                }
            }
            &__title {
                justify-content: flex-end;
                max-width: 90px;
                margin: 0 0 0 auto;
                padding: 15px 0;
            }
            & .product {
                &-cat {
                    &.active {
                        color: #fff;
                    }
                }
            }
        }
        & .dropdown {
            &-list {
                position: relative;
                min-width: 50px;
                top: 10px;
                border-right: 5px solid var(--theme-color);
                background-color: transparent;
                box-shadow: none;
                & li {
                    text-align: right;
                    &:not(:last-child) {
                        border-bottom: none;
                    }
                }
                & a {
                    &.active {
                        color: #fff;
                    }
                }
            }
        }
        &.active-mobile {
            background-color: rgba(0, 0, 0, 0.345);
            opacity: 1;
            pointer-events: all;
            z-index: 110;
            & .nav {
                &-box {
                    transform: translateX(0%);
                }
            }
        }
        &-input {
            &__item {
                width: 150px;
            }
            &__value {
                width: 150px;
            }
        }
        &-search {
            padding: 13px 15px;
        }
    }
    .footer {
        &-content {
            flex-direction: column;
            gap: 25px;
        }
        &-list {
            flex-direction: column;
            gap: 7px
        }
        &-bottom {
            padding: 15px 0;
        }
    }
    .arrow {
        right: 20px;
        bottom: 20px;
    }
    .main {
        margin-top: 60px;
    }
    .page {
        &-nav {
            padding-top: 20px;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    button {
        &.v-1 {
            &:hover {
                background-color: var(--theme-color);
                color: #fff;
            }
        }
    }
    .header {
        &-contact {
            &__l {
                & a {
                    &:hover {
                        background-color: var(--theme-color);
                        border-color: var(--theme-color);
                        & i, & svg {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .arrow {
        &:hover {
            background-color: var(--theme-dark-color);
        }
    }
}