@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --theme-color: #dc9c60;
  --theme-dark-color: #caab8e;
  --dark-grey: #333;
  --grey: #555;
  --dark: #1d2029;
  --dark-v2: #2f383d;
  --light-grey: #95979a;
  --border-grey: #ebe8e8;
  --footer: #282a43;
  --footer-btm: #181928;
  --btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  --dropdown-shadow: 0 6px 12px rgba(0,0,0,.175);
  --border-v2: #dadde1;
  --shadow-v-3: 0 1px 5px rgba(0, 0, 0, 0.136);
  --grey-v2: #85878b;
  --border-v3: #bbc7ce;
}

body {
  font-family: "Montserrat", sans-serif;
}

input {
  background-color: transparent;
}

textarea {
  resize: none;
  font-family: "Montserrat", sans-serif;
}

button, input {
  outline: none;
  border: 0;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
}
button:active {
  box-shadow: var(--btn-active-shadow);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.box {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1008px;
  margin: 0 auto;
}

.header {
  box-shadow: var(--shadow-v-3);
  position: relative;
  z-index: 100;
  transition: all 0.3s ease;
}
.header-top {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-grey);
}
.header-contact {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-contact__l {
  display: flex;
  gap: 10px;
  height: 28px;
}
.header-contact__l i, .header-contact__l svg {
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-color);
}
.header-contact__l a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  border-radius: 2px;
  border: 1px solid var(--theme-color);
}
.header-contact__tel {
    width: auto !important;
    padding: 0 15px;
    font-size: 12px;
    color: var(--theme-color);
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center
}
.header-contact button {
  text-transform: uppercase;
  padding: 7px 14px;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
  background-color: transparent;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-mobile {
  display: none;
}
.header-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-logo__text {
  color: var(--grey-v2);
  font-size: 13px;
  font-weight: 600;
}
.header-burger.active .header-line {
  background-color: transparent;
}
.header-burger.active .header-line::before {
  top: 0;
  transform: rotate(45deg);
}
.header-burger.active .header-line::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.header.fix {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}
.header.fix .nav {
  display: none;
}
.header.fix .header-top {
  border-bottom: none;
  height: 60px;
}
.header.fix.time {
  top: -100px !important;
}
.header.fix.time.stack {
  top: 0px !important;
}

.nav {
  height: 46px;
}
.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease;
}
.nav-input {
  position: relative;
}
.nav-input__box {
  display: flex;
  overflow: hidden;
}
.nav-input__item {
  display: flex;
  max-width: 0px;
  pointer-events: none;
  background-color: transparent;
  transition: all 0.2s ease;
}
.nav-input__item input {
  padding: 10px 15px;
  color: #fff;
  width: 300px;
}
.nav-input__item input::-webkit-input-placeholder {
  color: #fff;
}
.nav-input__value {
  background-color: var(--theme-dark-color);
  width: 300px;
  margin-left: auto;
  margin-right: 0;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  max-height: 275px;
  overflow-y: auto;
  box-shadow: var(--dropdown-shadow);
}
.nav-input__value::-webkit-scrollbar {
  width: 10px;
  background-color: var(--theme-color);
  cursor: pointer;
}
.nav-input__value::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: var(--theme-dark-color);
  border-radius: 5px;
  border: 2px solid var(--theme-color);
}
.nav-search {
  height: 100%;
  padding: 13px 20px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.nav-search svg {
  fill: var(--dark);
}
.nav-list {
  display: flex;
  height: 46px;
}
.footer .logo {
    background-color: var(--theme-color);
    border-color: transparent;
}
.nav-item {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 11px;
  height: 100%;
  transition: background-color 0.1s ease;
}
.nav-item__title {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
.nav-item__title svg {
  width: 10px;
  height: 10px;
}
.nav-item__title.active::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--theme-color);
  position: absolute;
  left: -10px;
}
.nav-item a {
  color: var(--dark);
  display: flex;
  width: 100%;
  height: 100%;
}
.nav .dropdown {
  position: relative;
}
.nav .dropdown-list {
  background-color: var(--theme-dark-color);
  position: absolute;
  top: 100%;
  width: auto;
  min-width: 300px;
  left: 0;
  display: none;
  box-shadow: var(--dropdown-shadow);
}
.nav .dropdown-list a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 9px 11px;
  font-size: 12px;
  font-weight: 500;
}
.nav .dropdown-list a:hover {
  background-color: var(--theme-color);
}
.nav .dropdown-list a.active {
  background-color: var(--theme-color);
}
.nav .dropdown-list li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav.active .nav-input__item {
  max-width: 500px;
  pointer-events: all;
  align-items: center;
  background-color: var(--theme-dark-color);
}
.nav.active .nav-input__value.active {
  display: block;
}
.nav.active .nav-search {
  background-color: var(--theme-color);
}
.nav.active .nav-search svg {
  fill: #fff;
}
.nav-product {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 0;
  transition: all 0.3 ease;
  height: 55px;
}
.nav-product a {
  color: #fff;
}
.nav-product:not(:last-child) {
  border-bottom: 1px solid rgba(236, 236, 236, 0.2901960784);
}
.nav-product:first-child {
  border-top: 1px solid rgba(236, 236, 236, 0.2901960784);
}
.nav-product__img {
  padding-left: 20px;
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-product__img img {
  max-width: 30px;
  max-height: 40px;
}
.nav-search:hover {
  background-color: var(--theme-color);
}
.nav-search:hover svg {
  fill: #fff;
}
@media(min-width: 800px) {
    .nav-item:hover {
      background-color: var(--theme-color);
    }
    .nav-item:hover .nav-item__title {
      color: #fff;
    }
    .nav-item:hover .dropdown-list {
      display: block;
    }
    .nav-item:hover .nav-item__title svg {
      fill: #fff;
    }
    .nav-item:hover .nav-item__title::before {
      background-color: #fff;
    }
    .nav-product:hover {
      background-color: var(--theme-color);
    }
}

.logo {
  font-weight: 500;
  color: var(--dark);
  padding: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid var(--border-v3);
  font-weight: 700;
  color: var(--theme-color);
  letter-spacing: 0.5px;
  border-radius: 2px;
}

.section-title {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 2px solid var(--theme-color);
  padding-bottom: 11px;
  margin-bottom: 20px;
  line-height: 20px;
  color: var(--dark-grey);
}

.footer-top {
  padding: 40px 0 60px;
  background-color: var(--footer);
}
.footer-bottom {
  padding: 15px;
  background-color: var(--footer-btm);
  font-size: 12px;
  color: var(--light-grey);
}
.footer a {
  color: #fff;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-list li:not(:last-child) {
  margin-bottom: 7px;
}
.footer-list li a:hover {
  color: var(--theme-color);
}
.footer-contact__item {
  font-size: 15px;
}
.footer-contact__item span {
  color: #fff;
}
.footer-contact__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-contact__item a {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--grey-v2);
}
.footer-contact__item.mail {
  font-size: 11px;
}
.footer-contact__item.mail a:hover p {
  color: #fff;
}
.footer-contact__item i {
  font-size: 10px;
}

.main {
  position: relative;
  z-index: 20;
}

.arrow {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--theme-color);
  display: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 80;
}
.arrow.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow i {
  color: #fff;
  font-size: 20px;
}
.arrow:active {
  transform: scale(0.926);
}

.page-nav {
  font-size: 11px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.page-nav a, .page-nav span {
  display: flex;
  gap: 10px;
  color: var(--light-grey);
  align-items: center;
  cursor: pointer;
}
.page-nav a:not(:last-child)::after, .page-nav span:not(:last-child)::after {
  font-family: FontAwesome;
  content: "\f054";
  color: var(--light-grey);
  font-size: 8px;
}
.page-nav a:last-child, .page-nav span:last-child {
  color: var(--theme-color);
}
.page-nav a:hover, .page-nav span:hover {
  color: var(--theme-color);
}

.form {
  margin-top: 40px;
  padding-right: 50px;
}
.form-box {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}
.form-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-item {
  position: relative;
}
.form-item input {
  display: block;
  background-color: #fff;
}
.form-item span {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12px;
  pointer-events: none;
  transition: top 0.3s ease;
}
.form-item textarea {
  resize: none;
  height: 100px;
}
.form-item input, .form-item textarea {
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}
.form-item input:not(:placeholder-shown) + span, .form-item textarea:not(:placeholder-shown) + span {
  top: -20px;
  font-size: 10px;
}
.form-item input:focus + span, .form-item textarea:focus + span {
  top: -20px;
  font-size: 10px;
}

.col-2 {
  margin-bottom: 46px;
}
.col-2-content {
  background-color: rgba(214, 184, 155, 0.541);
  padding: 37px 0px 37px 50px;
  border-left: 2px solid var(--theme-color);
  color: var(--dark-v2);
  gap: 20px;
}
.col-2-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 22px;
}
.col-2-text {
  font-size: 13px;
}
.col-2-l {
  width: 100%;
}
.col-2 button {
  background-color: var(--theme-color);
  border: 0;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #fff;
  font-weight: 500;
}
.col-2 button:hover {
  background-color: var(--theme-dark-color);
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.427);
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 110;
  display: none;
}
.modal-box {
  background-color: #fff;
  border-radius: 2px;
  max-width: 700px;
  min-width: 500px;
}
.modal-head {
  padding: 20px 20px;
  color: #fff;
  background-color: var(--theme-dark-color);
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-body {
  border-bottom: 1px solid var(--border-grey);
  padding: 30px 20px;
}
.modal-body input {
  border: 1px solid var(--border-v3);
}
.modal-body input:not(:placeholder-shown) + span {
  top: -15px;
}
.modal-body .form-item:not(:last-child) {
  margin-bottom: 30px;
}
.modal-body .form-item input:focus + span {
  top: -15px;
}
.modal-foot {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}
.modal-foot button {
  background-color: var(--theme-color);
  padding: 10px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.modal-close {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.modal-close::before, .modal-close::after {
  content: "";
  position: absolute;
}
.modal-close::before, .modal-close::after {
  background-color: #fff;
  height: 2px;
  width: 15px;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
  margin: 20px 0;
}
.map-links a {
  color: var(--dark-grey);
}

.back {
    padding: 10px 15px;
    border-radius: 2px;
    background-color: var(--theme-color);
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 20px;
}

@media (max-width: 800px) {
  .modal-box {
    margin: 0 15px;
    min-width: 290px;
  }
}
@media (max-width: 800px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .header-top {
    display: none;
  }
  .header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header-burger {
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 120;
  }
  .header-line {
    position: relative;
  }
  .header-line::before, .header-line::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .header-line::before {
    top: -8px;
  }
  .header-line::after {
    bottom: -8px;
  }
  .header-line, .header-line::before, .header-line::after {
    width: 35px;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
  }
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
  }
  .nav-list {
    height: auto;
    width: 100%;
  }
  .nav-box {
    display: flex;
    width: 70%;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 100vh;
    padding: 60px 0px 40px;
    transform: translateX(120%);
  }
  .nav ul {
    flex-direction: column;
  }
  .nav-input__item {
      width: 100%;
  }
  .nav-input__item input {
      width: 100%;
  }
  .nav.active .nav-search {
      display: none;
  }
  .nav.active .nav-input {
      width: 100%;
  }
  .nav-item {
    padding: 0;
    border-bottom: 1px solid var(--border-v2);
    padding: 0 15px;
  }
  .nav-item:first-child {
  border-top: 1px solid var(--border-v2);
  }
  .nav-item a {
    justify-content: flex-end;
    font-weight: 600;
    height: auto;
  }
  /*.nav-item:active {*/
  /*  background-color: var(--theme-color);*/
  /*}*/
  /*.nav-item:active a {*/
  /*  color: #fff;*/
  /*}*/
  /*.nav-item:active .dropdown-list {*/
  /*  display: block;*/
  /*}*/
  /*.nav-item:active .nav-item__title svg {*/
  /*  fill: #fff;*/
  /*}*/
  .nav-item.active {
    background-color: #fff;
  }
  .nav-item.active a {
    color: var(--dark-grey);
  }
  .nav-item.active .dropdown-list {
    display: block;
    position: initial;
    margin-bottom: 10px;
  }
  .nav-item:hover .nav-item__title {
    color: var(--dark-grey);
  }
  .nav-item:hover .nav-item__title svg {
    fill: var(--dark-grey);
  }
  .nav-item:hover .nav-item__title::before {
    background-color: var(--theme-color);
  }
  .nav-item__title {
    justify-content: flex-end;
    margin: 0 0 0 auto;
    padding: 10px 0;
    outline: none;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
  }
  .nav-item__title p {
     pointer-events: none
  }
  .nav-item__title.active::before {
      position: initial;
  }
  .nav-item .product-cat.active {
    color: #fff;
  }
  .nav .dropdown-list {
    position: relative;
    min-width: 50px;
    top: 10px;
    border-right: 5px solid var(--theme-color);
    background-color: transparent;
    box-shadow: none;
  }
  .nav .dropdown-list li {
    text-align: right;
  }
  .nav .dropdown-list li:not(:last-child) {
    border-bottom: none;
  }
  .nav .dropdown-list a {
    font-size: 13px;
  }
  .nav .dropdown-list a.active {
    color: var(--theme-color);
    background-color: transparent;
  }
  .nav .dropdown-list a:hover {
      background-color: transparent;
      color: var(--theme-dark-color);
  }
  .nav.active-mobile {
    background-color: rgba(0, 0, 0, 0.345);
    opacity: 1;
    pointer-events: all;
    z-index: 110;
  }
  .nav.active-mobile .nav-box {
    transform: translateX(0%);
  }
  .nav-input__item {
    width: 100%;
  }
  .nav-input__item input {
    padding: 13px 15px;
  }
  .nav-input__value {
    width: 100%;
  }
  .nav-search {
    padding: 13px 15px;
  }
  .footer-content {
    flex-direction: column;
    gap: 25px;
  }
  .footer .logo {
      display: inline-block;
      line-height: 40px;
  }
  .footer-list {
    flex-direction: column;
    gap: 7px;
    width: 100%;
    font-size: 14px;
  }
  .footer-top {
      padding: 40px 0;
  }
  .footer-bottom {
    padding: 15px 0;
  }
  .arrow {
    right: 20px;
    bottom: 20px;
  }
  .main {
    margin-top: 60px;
  }
  .page-nav {
    padding-top: 20px;
  }
}
@media (hover: hover) and (pointer: fine) {
  button.v-1:hover {
    background-color: var(--theme-color);
    color: #fff;
  }
  .header-contact__l a:hover {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
  }
  .header-contact__l a:hover i, .header-contact__l a:hover svg, .header-contact__tel:hover {
    color: #fff;
  }
  .arrow:hover {
    background-color: var(--theme-dark-color);
  }
}