@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

:root {
    --theme-color: #dc9c60;
    --theme-dark-color: #caab8e;
    --dark-grey: #333;
    --grey: #555;
    --dark: #1d2029;
    --dark-v2: #2f383d;
    --light-grey: #95979a;
    --border-grey: #efefef;
    --footer: #282a43;
    --footer-btm: #181928;
    --btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --dropdown-shadow: 0 6px 12px rgba(0,0,0,.175);
    --border-v2: #dadde1;
    --shadow-v-3: 0 1px 5px rgba(0, 0, 0, 0.136);
    --grey-v2: #85878b;
    --border-v3: #bbc7ce;
}

body {
    font-family: 'Montserrat', sans-serif;
}

input {
    background-color: transparent;
}

button, input {
    outline: none;
    border: 0;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    &.v-1 {
        &:hover {
            background-color: var(--theme-color);
            color: #fff;
        }
    }
    &:active {
        box-shadow: var(--btn-active-shadow);
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.box {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1008px;
    margin: 0 auto;
}

.header {
    box-shadow: var(--shadow-v-3);
    position: relative;
    z-index: 100;
    &-top {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-grey);
    }
    &-contact {
        display: flex;
        gap: 20px;
        align-items: center;
        &__l {
            display: flex;
            gap: 10px;
            & i {
                font-size: 16px;
                color: var(--theme-color);
            }
        }
        & button {
            text-transform: uppercase;
            padding: 7px 14px;
            border: 1px solid var(--theme-color);
            color: var(--theme-color);
            background-color: transparent;
            font-size: 10px;
            line-height: 12px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-input {
        display: flex;
        overflow: hidden;
        &__item  {
            display: flex;
            max-width: 0px;
            pointer-events: none;
            background-color: transparent;
            transition: all .2s ease;
            & input {
                padding: 10px 15px;
                color: #fff;
                width: 400px;
                &::-webkit-input-placeholder {
                    color: #fff;
                }
            }
        }
    }
    &-search {
        height: 100%;
        padding: 13px 20px;
        cursor: pointer;
        transition: background-color .1s ease;
        & svg {
            fill: var(--dark);
        }
        &:hover {
            background-color: var(--theme-color);
            & svg {
                fill: #fff;
            }
        }
    }
    &-list {
        display: flex;
    }
    &-item {
        padding: 15px 20px;
        cursor: pointer;
        font-size: 13px;
        transition: background-color .1s ease;
        &:hover {
            background-color: var(--theme-color);
            & a {
                color: #fff;
            }
            & .dropdown {
                &-list {
                    display: block;
                }
            }
            & .nav-item__title {
                & svg {
                    fill: #fff;
                }
            }
        }
        &__title {
            display: flex;
            gap: 5px;
            align-items: center;
            & svg {
                width: 10px;
                height: 10px;
            }
        }
        & a {
            text-transform: uppercase;
            font-weight: 500;
            color: var(--dark);
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
    & .dropdown {
        position: relative;
        &-list {
            background-color: var(--theme-color);
            position: absolute;
            top: 100%;
            width: auto;
            min-width: 300px;
            left: 0;
            display: none;
            box-shadow: var(--dropdown-shadow);
            & a {
                color: #fff;
                display: block;
                width: 100%;
                padding: 9px 11px;
                font-size: 11px;
                &:hover {
                    background-color: var(--theme-dark-color);
                }
            }
            & li {
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(256,256,256,0.1);
                }
            }
        }
    }
    &.active {
        & .nav {
            &-input {
                &__item {
                    max-width: 500px;
                    pointer-events: all;
                    align-items: center;
                    background-color: var(--theme-dark-color);
                }
            }
            &-search {
                background-color: var(--theme-color);
                & svg {
                    fill: #fff;
                }
            }
        }
    }
}

.logo {
    font-weight: 500;
    color: var(--dark);
    padding: 0 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    border-radius: 2px;
}

.section {
    &-title {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        border-bottom: 2px solid var(--theme-color);
        padding-bottom: 11px;
        margin-bottom: 20px;
        line-height: 20px;
        color: var(--dark-grey);
    }
}

.footer {
    &-top {
        padding: 40px 0 60px;
        background-color: var(--footer);
    }
    &-bottom {
        padding: 15px;
        background-color: var(--footer-btm);
        font-size: 12px;
        color: var(--light-grey);
    }
    & a {
        color: #fff;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        width: 40%;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
        & li {
            &:not(:last-child) {
                margin-bottom: 7px;
            }
            & a {
                &:hover {
                    color: var(--theme-color);
                }
            }
        }
    }
    &-contact {
        &__item {
            font-size: 15px;
            & span {
                color: #fff;
            }
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            & a {
                display: flex;
                gap: 10px;
                align-items: center;
                color: var(--grey-v2);
            }
            &.mail {
                font-size: 11px;
                & a {  
                    &:hover {
                        & p {
                            color: #fff;
                        }
                    }
                }
            }
            & i {
                font-size: 10px;
            }
        }
    }
}

.main {
    position: relative;
    z-index: 20;
}

.arrow {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--theme-color);
    display: none;
    cursor: pointer;
    transition: background-color .3s ease, transform .2s ease-in;
    position: fixed;
    right: 50px;
    bottom: 50px;
    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & i {
        color: #fff;
        font-size: 20px;
    }
    &:hover {
        background-color: var(--theme-dark-color);
    }
    &:active {
        transform: scale(0.926);
    }
}